*{
    box-sizing: border-box;
    transition: all .5s;
}



.form-control{
    font-size: 24px;
    padding: 30px;
}
.btn.btn-primary{
    font-size: 24px;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
} 

.list-group-item:hover{
    background:red;
}

.list-group-item  i {
    transform: rotate(0deg);
    opacity: 0;
}
.list-group-item:hover  i {
    transform: rotate(180deg);
    opacity: 1;
    margin-top: 4px;
}
.example-enter {
    opacity: 0.01;
}
  
.example-enter.example-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: all 300ms ease-in;
}